<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.app.model.log">

	<!--로그 전체조회-->
	<select id="getLogAll" resultType="lDTO">
		SELECT LOG_SEQ,LOG_DATE,LOG_MESSAGE,LOG_IP FROM HYPER_LOG
	</select>
	
	
	<!--로그 날짜조회-->
	<select id="getLog" parameterType="java.lang.String" resultType="lDTO">
		SELECT LOG_SEQ,LOG_DATE,LOG_MESSAGE,LOG_IP FROM HYPER_LOG WHERE LOG_DATE LIKE CONCAT(#{log_date},'%')
	</select>
	
	<!--로그 상세조회-->
	<select id="getLogDetail" parameterType="lDTO" resultType="lDTO">
		SELECT LOG_SEQ,LOG_DATE,LOG_MESSAGE,LOG_IP FROM HYPER_LOG WHERE LOG_DATE LIKE CONCAT(#{log_date},'%') AND LOG_MESSAGE LIKE CONCAT('%',#{log_message},'%')
	</select>
	
	<!--로그입력-->
	<insert id="setLog" parameterType="lDTO">
		INSERT INTO HYPER_LOG(LOG_MESSAGE,LOG_IP) VALUES(#{log_message},#{log_ip})
	</insert>
	
</mapper>
